html 
    head 
        title=title 
    body
        h1=message 
        <br>
        h2=message2
        input(type="text" name="title" id="input")
        button(onClick = "addPrefix('test')") get
        
        block content
            - var addPrefix = function(str) {
            -  return 'prefix : ' + str;
            - }
            p #{addPrefix('outsider')}
