<HTML>
    <BODY>
            <form id="testForm" name="testForm" method="post" action="">
                <input type="text" value="사용자" id="ib1">
                <input type="button" value="기계 켜기" id='btn1' onclick="updateBtn()">
                <br>
                <input type="button" value="ajax test" id='ajax_test' onclick="ajaxTest()">
                <div id="result"></div>
              </form>
              <label>사용자</label>의 <p>기계가 멈췄습니다.</p>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/script/test1.js"></script>
    </BODY>
</HTML>